.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}
.item {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(117, 114, 114);
  box-shadow: 5px 5px 5px 1px rgba(204, 238, 11, 0.59);
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;

  transition-property: all;
  transition-duration: 300ms;
}

.item:focus,
.item:hover {
  box-shadow: none;
  color: black;
  background-color: #fff;
  transform: scale(1.2);
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.button {
  border-radius: 4px;
  background-color: rgb(17, 156, 221);
  margin-left: 10px;
  font-size: inherit;
}
.button:focus,
.button:hover {
  background-color: rgb(75, 221, 17);
}
